<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concert
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/concert">
        <ion-icon name="cog"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  {{concertTimeService.getName()}}
  <h2 *ngIf="chosenconcert">{{chosenconcert.nom}}</h2>

  <ion-button expand="block"(click)="chosenconcert" size="small"></ion-button>
<ion-grid>
  <ion-row>
    <ion-col size="4" *ngFor="let concert of concertTimes; let position=index" >
      <h3>{{ concert.Nom}}</h3>
      <h4>{{ concert.Type}}</h4>
      <h5>{{ concert.Date}}</h5>
      <h6>{{ concert.Ville}}</h6>

      <ion-button color="danger" size="small"(click)="deleteOneconcert()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button color="danger" size="small"(click)="goUpdateConcert(position)">
        <ion-icon name="bandage-outline"></ion-icon>
      </ion-button>

    </ion-col>
  </ion-row>
</ion-grid>



  
</ion-content>
